h2 {
    color: #dd0000;
}

  body {
    background-color: #dddddd;
}

  h2{
    margin-top: 15px;
}

  img {
    position: relative;
    width: 70%;
    height: 70%;
    right: -40px;
    top: 15px;
}
  
  #fundo1 {
    background-color: #ffcc66;
    text-align: center;
    color: #dd0000;
    font-weight: bold;
}
  
  #fundo2 {
    background-color: #ffffcc;
    text-align: center;
    color: #dd0000;
}

  div {
    display: flex;
    flex-direction: row;
    width: 300px;
}