body{
    margin: 0;
}


div, #menu {
    border: 0px solid black;
}

#menu{
    border: 1px solid black;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

#menu{
    border-right: 2px solid black;


}

#logo{
    padding-left: 300px;
    
}

#corpo{
    border: 1px solid black;
    width: 500px;
    justify-content: space-around;


}